<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aim.questionnaire.dao.ProjectEntityMapper">
  <resultMap id="BaseResultMap" type="com.aim.questionnaire.dao.entity.ProjectEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="created_by" jdbcType="CHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="last_updated_by" jdbcType="CHAR" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.aim.questionnaire.dao.entity.ProjectEntity">

  </resultMap>
  <sql id="Base_Column_List">

  </sql>
  <sql id="Blob_Column_List">

  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT id, user_id, project_name, project_content, created_by, creation_date, last_updated_by, last_update_date
    FROM LATERAL project_info
    WHERE  id=#{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    DELETE from project_info
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
    INSERT INTO project_info
    (id, user_id, project_name, project_content, created_by, creation_date, last_updated_by, last_update_date)
    VALUES
      (#{id},#{userId},#{projectName},#{projectContent},#{createdBy},#{creationDate},#{lastUpdatedBy},#{lastUpdateDate})
  </insert>
  <insert id="insertSelective" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">

  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
    update project_info
    <set>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>

      <if test="projectContent != null">
        project_content = #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">

  </update>

  <!--根据项目id删除项目-->
  <delete id="deleteProjectById" parameterType="java.lang.String">
    DELETE from project_info
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>


  <!--修改问卷状态 (guan)-->
  <update id="removeQuestionnaireProjectid" parameterType="java.lang.String">
    UPDATE questionnaire_info
    SET project_id = null
    WHERE  project_id  = #{id,jdbcType=VARCHAR}
  </update>



  <!--判断项目名是否存在-->
  <select id="queryExistProject" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(1)
    FROM project_info
    where project_name = #{projectName,jdbcType=VARCHAR}

  </select>



  <!--查询项目列表-->
  <select id="queryProjectList" parameterType="map" resultType="java.util.Map">
    select *
    from project_info
    where (project_name LIKE "%"#{projectName}"%" )AND user_id =
    (SELECT id
    FROM user_info
    WHERE username = #{userName})

  </select>
  <!--根据项目id查询项目信息-->
  <select id="getProjectInfo" parameterType="java.lang.String" resultType="map">
    SELECT id, user_id AS userId, project_name AS projectName, project_content AS projectContent, created_by AS createdBy, creation_date AS creationDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdatedDate
    FROM  project_info
    WHERE  id = #{id,jdbcType=VARCHAR}
  </select>


  <!--查询全部项目的名字接口-->
  <select id="queryAllProjectName" resultType="map">

  </select>

  <!--根据项目id查询项目名称-->
  <select id="queryProjectNameById" parameterType="java.lang.String" resultType="com.aim.questionnaire.dao.entity.ProjectEntity">
    SELECT id, user_id, project_name, project_content, created_by, creation_date, last_updated_by, last_update_date
    FROM  project_info
    WHERE  id=#{id,jdbcType=VARCHAR}
  </select>


  <!--根据项目id查询项目名称-->
  <select id="queryProjectNameById2" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT  project_name
    FROM  project_info
    WHERE  id=#{id,jdbcType=VARCHAR}
  </select>




</mapper>